*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}
.logo{
   float:top;
   position: fixed;
    width:30%;
    left: 0px;
    top: 15px;
    z-index: 15;
}
.splat{
  position:fixed;
  bottom:-600px;
  right:-50%;
  width: 100%;
  z-index: 0;
}
/*.detail{
  top:600px;
  position:fixed;
  margin-left: -250px;
  width:30%;
  border:2px solid red;
}*/
.detailpic{
  top:600px;
  position:fixed;
  margin-left: -250px;
  width:25%;
  border:2px solid red;
}



body, h1{
  margin: 0;
}

.container{
  position: relative;
  bottom:0%;
}

.categories{
  text-align: center;
  position:fixed;
  top:229px;
  left:15%;
  width: 85%;
  height: 30px;
  background-color: rgb(255,30,45);
  z-index: 13;
}
.cat{
    display: inline-block;
    margin-top: .25%;
    margin-left: 10%;
    margin-right: 10%;
}

header{
  position: fixed;
  left:15%;
  width: 85%;
  height: 244px;
  background-image:url(../images/zombies-eating.jpg);
  z-index: 14;
}

aside{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 15%;
  height: 100%;
  background-color: skyblue;
}

.menu{
  position: fixed;
  width: 85%;
  margin-left: 15%;
  margin-top: 12%;
  height: 100%;
  background-color: teal;
}

.pic-boxes{
  position:relative;
  margin:10px;
  margin-left: 16%;
  top:-4%;
  text-align: center;
  overflow-y:auto;
  height:80%;
}

.picbox{

  list-style-type: none;
  /*display: inline-block;*/
  height: 200px;
  margin:5%;
  margin-top: 2%;
  width: 200px;
  border-radius: 100px;
  background-color: white;
  z-index: 2;
}

.menuitem{
  position:relative;
  width:400%;
  left: 57%;
  top:16%;
  height:33%;
  background-color: mediumaquamarine;
  z-index:1;
}
.descript{
  position:relative;
  height:33%;
  width:400%;
  left: 57%;
  top:5%;
  background-color: seagreen;
  z-index:1;
}
